body{
    margin:0px;
}
.signin_outer {
    display: grid;
    grid-template-areas: "signin_left signin_right";
    grid-template-columns: 52% 48%;
    grid-template-rows: 100vh;
}

.left_image{
    width: 100%;
    height: 100vh;

}
.signin_right {
    background-color: white;
    height: 100vh;
}

.right_content {
    margin: 190px 70px 0px;
}
.right_black {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.right_green {
    color: rgb(8, 119, 56);
}
.right_big {
    font-size: 75px;
    color: rgb(9, 43, 24) ;
}
.right_mail {
    height: 50px;
    width: 450px;
    font-size: 21px;
    border-radius: 5px;
    padding-left:3%;
}

.right_bottom {
    display: grid;
    grid-template-areas: "right_next right_or right_google";
    grid-template-columns:  30% 25% 45%;
    grid-template-rows: 50px;
}

.right_next {
width: 100px;
height: 20px;
padding: 10px 20px;
background-color: rgb(23, 87, 51);
text-align: center;
border-radius: 25px;
color: white;
font-size: 15px;
cursor: pointer;
}

.right_or {
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
}

.right_google {
    background-color: white;
    color: gray;
    height: 30px;
    margin-top: 6px;
    text-align: center;
    cursor: pointer;
}

.right_google > img {
    width: 15px;
    height: 15px;
    margin-left: 0px;
    margin-top: 5px;
}